.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies__search {
  margin-top: 60px;
}

.movies__divider {
  margin-top: 69px;
}

.movies__button {
  width: 100%;
  border-radius: 6px;
  background-color: var(--button-gray);
  height: 36px;
  margin: 80px 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .movies__search {
    margin-top: 80px;
  }

  .movies__divider {
    margin-top: 49px;
  }

  .movies__button {
    margin: 80px 0 97px 0;
  }
}
