.tooltip {
  position: relative;
  margin: 0;
  padding: 20px 20px 12px 12px;
  display: flex;
  align-items: center;
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
}

.tooltip_invalid {
  background-color: var(--orange);
  border: 1px solid red;
}

.tooltip_valid {
  background-color: var(--green);
  border: 1px solid green;
}

.tooltip__text {
  font-family: 'Inter';
  font-size: 14px;
}

.tooltip__text_valid {
  margin: 0;
  color: var(--white);
}

.tooltip__text_invalid {
  margin: 0;
  color: var(--white);
}

.tooltip__close {
  position: absolute;
  top: 5px;
  right: 5px;
}
