.cards {
  width: 100%;
}

.cards__elements {
  padding: 0;
  margin: 80px 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 270px));
  row-gap: 30px;
  column-gap: 20px;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .cards__elements {
    grid-template-columns: repeat(auto-fill, minmax(auto, 330px));
    column-gap: 30px;
    row-gap: 34px;
    justify-content: center;
  }
}

@media screen and (max-width: 430px) {
  .cards__elements {
    grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
    margin-top: 50px;
    row-gap: 19px;
  }
}
