.toggle {
  display: flex;
  align-items: center;
  gap: 12px;
}

.toggle__label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.toggle__button {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.toggle__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle__span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--gray);
  transition: 0.3s;
  border-radius: 30px;
}

.toggle__span:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: var(--white);
  border-radius: 50%;
  transition: 0.3s;
}

.toggle__input:checked + .toggle__span {
  background-color: var(--green);
}

.toggle__input:checked + .toggle__span:before {
  transform: translateX(16px);
}

.movies__toggle {
  margin-top: 42px;
}

@media screen and (max-width: 320px) {
  .toggle__label {
    font-size: 11px;
    line-height: 18px;
  }
}
