.section_type_landing {
  padding: 0 70px;
}

@media screen and (max-width: 768px) {
  .section_type_landing {
    padding: 0 50px;
  }
}

@media screen and (max-width: 320px) {
  .section_type_landing {
    padding: 0 18px;
  }
}
