.login {
  display: flex;
  height: 695px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__header {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  width: 100%;
  justify-content: left;
  gap: 40px;
}

.login__logo {
  padding-top: 3px;
}

.login__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.login__set {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  border: none;
  margin: 40px 0 179px 0;
}

.login__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 396px;
  position: relative;
}

.login__field {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--gray);
  text-rendering: optimizeLegibility;
}

.login__item {
  background-color: var(--button-gray);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-rendering: optimizeLegibility;
  border: none;
  border-radius: 8px;
  padding: 15px;
}

.login__item:focus {
  outline: none;
  border-bottom: 1px solid #3456f3;
}
.login__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.login__login {
  background-color: var(--orange);
  padding: 13px 0 15px 0;
  color: var(--white);
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login__redirect {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.login__text {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login__account {
  text-decoration: none;
  padding: 0;
  color: var(--orange);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .login {
    height: 1020px;
  }
}

@media screen and (max-width: 430px) {
  .login__account {
    font-size: 12px;
  }

  .login {
    height: 810px;
  }

  .login__box {
    width: 260px;
  }

  .login__header {
    justify-content: center;
    align-items: center;
  }

  .login__set {
    margin: 80px 0 267px 0;
  }

  .login__login {
    font-size: 12px;
  }

  .login__text {
    font-size: 12px;
    color: var(--gray);
  }
}
