.error_visible {
  opacity: 1;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  transition: 0.4s;
}

.item-error {
  position: absolute;
  color: var(--pink);
  opacity: 1;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
